@charset "UTF-8";

 
/* Celular: até 768px */

header{
    background-image: linear-gradient(to right, var(--cor1), var(--cor2), #101211);
    padding: 20px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
header > div#tituloHeader{
    font-family: var(--fontTitulo);
    color: white;
    font-size: 1.2em; 
    text-align: center;
}
header > menu{
    width: 80vw;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
}
header > menu >  a{
    color: white;
    text-decoration: none;
    padding-right: 10px;    
}
header > menu >  a:hover{
    font-weight: bolder;
}


section#sectionConteudo{
    background-color: rgb(217, 217, 217);
}

section#sectionConteudo p{
    font-size: 1.1em;
}
section#sectionConteudo li{
    font-size: 1.1em;
}
section#sectionConteudo a{
    font-size: 1.1em;
}

article#arti01{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}
article#arti01 div#bloco01{
    display: flex;
    align-items: center;
}
article#arti01 div#tituloArti01{
    padding: 20px;
}
article#arti01 div#maps{
    padding: 10px;
}
article#arti01 div#maps p{
    padding-bottom: 5px;
}
article#arti01 div#maps iframe{
    border: 3px solid black;
}   
article#arti01 div#contatos div#p{
    padding: 15px;
}
article#arti01  div#idEstrelas img{
    padding: 20px;
}






article#arti02{
    display: flex;
    flex-direction: column;
    align-items: center;
}
article#arti02 div#divTituloArti02{
    padding: 30px;
}
article#arti02 div#perguntas{
    background-color: rgb(112, 108, 108);
    border-radius: 10px;
    margin-bottom: 40px;
    padding: 20px;
}

article#arti02 div#idEmail{
    text-align: center;
    padding-bottom: 40px;
}


article#arti03{
    display: flex;
    flex-direction: column;
    align-items: center;
}
article#arti03 div#divTituloArti03{
    padding: 30px;
}

article#arti03 div#feedback{
    margin: 20px;
}

article#arti03 div.mensagem{
    background-color: white;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
}
article#arti03 div#feedback div.nome{
    margin-bottom: 5px;
}
article#arti03 div#feedback div.caixa{
    margin-bottom: 20px;
}















/* Tablet: até 992px */

@media screen and (min-width: 700px) and (max-width: 956px){


    header div#tituloHeader{
        width: 300px;
        font-size: 1.3em;
        text-align: center;
    }
    header menu{
        max-width: 600px;   
        font-size: 1.1em;
    }

}





/* Desktop: até 1200px */
@media screen and (min-width: 956px) and (max-width:1200px){


    header div#tituloHeader{
        width: 300px;
        font-size: 1.4em;
        text-align: center;
    }
    header menu{
        max-width: 600px;   
        font-size: 1.2em;
    } 
}





/* Grandes telas: Acima de 1200px */

@media screen and (min-width: 1200px){
  
    header div#tituloHeader{
        width: 300px;
        font-size: 1.5em;
        text-align: left;
    }
    header menu{
        width: 700px;
        font-size: 1.3em;
    }
}