@charset "UTF-8";

 
/* Celular: até 768px */

header{
    background-image: linear-gradient(to right, var(--cor1), var(--cor2), #101211);
    padding: 20px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;


}
header > div#tituloHeader{
    font-family: var(--fontTitulo);
    color: white;
    font-size: 1.2em; 
    text-align: center;
}
header > menu{
    width: 80vw;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
}
header > menu >  a{
    color: white;
    text-decoration: none;
    padding-right: 10px;    
}
header > menu >  a:hover{
    font-weight: bolder;
}

main{
    background-image: url(../imgs/imgConta/backgroudConta.png);
    height: 82vh;
    background-size: cover;
    background-position: left center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



section#caixa div#cadastro{
    background-color: rgba(255, 255, 255, 0.637);
    border: 2px solid var(--cor1);
    color: var(--cor2);
    border-radius: 20px;
    width: 300px;
    padding: 30px;
    font-size: 1em;   
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
section#caixa div#cadastro p{
    margin-top: 10px;
}
section#caixa div#cadastro input{
    width: 100%;
    padding-top: 5px;
    font-size: 1em;
}
section#caixa div#cadastro input[type='submit']{
    width: 120px;
    padding: 10px;
    border-radius: 20px;
    color: white;
    background-color: var(--cor1);
    border: none;
    font-size: 1em;
}
section#caixa div#cadastro input[type='submit']:hover{
    background-color: var(--cor2);
    width: 125px;
    cursor: pointer;
    font-weight: bold;
}



section#caixa div#links{
    display: flex;
    flex-direction: column;
    align-items: center;
}
section#caixa div#links p{
    padding-top: 5px;
}
section#caixa div#links a{
    color: white; 
    font-size: 0.9em;
}

/* Tablet: até 992px */
@media screen and (min-width: 700px) and (max-width: 940px){

    header div#tituloHeader{
        width: 300px;
        font-size: 1.3em;
        text-align: center;
    }
    header menu{
        max-width: 600px;
        font-size: 1.1em;
    }


    main{
        height: 81vh;
    }

    section#caixa div#cadastro{
        width: 350px;
        font-size: 1.1em;   
    }

    section#caixa div#cadastro input{
        font-size: 1.1em;
    }
    section#caixa div#cadastro input[type='submit']{
        width: 140px;
    }
    section#caixa div#cadastro input[type='submit']:hover{
        width: 145px;
    }
    
    
    
    section#caixa div#links a{
        font-size: 1em;
    }

}





/* Desktop: até 1200px */
@media screen and (min-width: 940px) and (max-width:1200px){

    header div#tituloHeader{
        width: 300px;
        font-size: 1.4em;
        text-align: center;
    }
    header menu{
        max-width: 600px;
        font-size: 1.2em;
    }

    main{
        height: 83.6vh;
    }


    section#caixa div#cadastro{
        width: 400px;
        font-size: 1.2em;   
    }

    section#caixa div#cadastro input{
        font-size: 1.2em;
    }
    section#caixa div#cadastro input[type='submit']{
        width: 160px;
    }
    section#caixa div#cadastro input[type='submit']:hover{
        width: 165px;
    }
    
    
    
    section#caixa div#links a{
        font-size: 1.1em;
    }
   
}





/* Grandes telas: Acima de 1200px */

@media screen and (min-width: 1200px){
  

    header div#tituloHeader{
        width: 300px;
        font-size: 1.5em;
        text-align: center;
    }
    header menu{
        max-width: 600px;
        font-size: 1.3em;
    }


    main{
        height: 83vh;
    }

    section#caixa div#cadastro{
        width: 450px;
        font-size: 1.3em;   
    }

    section#caixa div#cadastro input{
        font-size: 1.3em;
    }
    section#caixa div#cadastro input[type='submit']{
        width: 180px;
    }
    section#caixa div#cadastro input[type='submit']:hover{
        width: 185px;
    }
    
    
    
    section#caixa div#links a{
        font-size: 1.2em;
    }

}
