@charset "UTF-8";

 
/* Celular: até 768px */

header{
    background-image: linear-gradient(to right, var(--cor1), var(--cor2), #101211);
    padding: 20px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
header > div#tituloHeader{
    font-family: var(--fontTitulo);
    color: white;
    font-size: 1.4em; 
    text-align: center;
}
header > menu{
    width: 80vw;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
}
header > menu >  a{
    color: white;
    text-decoration: none;
    padding-right: 10px;    
}
header > menu >  a:hover{
    font-weight: bolder;
}





section#sectionBemVindo{    
    height: 430px;
    background-image: url(../imgs/imgHome/backgroudHome.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    align-items: left;

    color: white;
}
section#sectionBemVindo h1{
    font-size: 2.6em;
    max-width: 500px;
    padding-bottom: 30px;
}
section#sectionBemVindo a{
    padding: 10px;
    width: 210px;
    text-align: center;
    color: white;
    text-decoration: none;
    background-color: var(--cor1);
    margin-top: 10px;
    border-radius: 50px;
    font-size: 0.9em;
}
section#sectionBemVindo a:hover{
    font-weight: bold;
    background-color: var(--cor2);
}




section#sectionConteudo{
    background-color: rgb(217, 217, 217);
}
section#sectionConteudo h2{
    font-size: 1.5em;
}
section#sectionConteudo p{
    font-size: 1.1em;
}
section#sectionConteudo li{
    font-size: 1.1em;
}
section#sectionConteudo a{
    font-size: 1.1em;
}




article#artiHistoria{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:  60px;
}
article#artiHistoria p{
    max-width: 100%;
    text-align: justify;
    padding: 20px;
    text-indent: 1em;
}
article#artiHistoria div#img01, article#artiHistoria div#img02{
    display: none;
}
article#artiHistoria div#bloco01, article#artiHistoria div#bloco02{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      justify-items: center;
}
article#artiHistoria a#reserve{
    color: white;
    background-color: #007A31;
    border-radius: 10px;
    text-decoration: none;
    margin: 20px;
    padding: 10px;
    width: 300px;
    text-align: center;
}
article#artiHistoria a#reserve:hover{
    font-weight: bold;
} 


/* Tablet: até 992px */

@media screen and (min-width: 700px) and (max-width: 956px){

    body{
        display: none;
    }
    header div#tituloHeader{
        width: 300px;
        font-size: 1.3em;
        text-align: center;
    }
    header menu{
        max-width: 600px;
        font-size: 1.1em;
    }



    section#sectionBemVindo h1{
        font-size: 3em;
    }
    section#sectionBemVindo p{
        font-size: 1.4em;
    }
    section#sectionBemVindo a{
        font-size: 0.9em;
        width: 230px;
    }



    section#sectionConteudo p{
        font-size: 1.1em;
    }
    section#sectionConteudo a{
        font-size: 1.1em;      
    } 
    section#sectionConteudo li{
        font-size: 1.1em;
    }



    article#artiContratacao div#caixa01{
        display: flex;
        width: 100%;
        padding: 40px;
        justify-content: space-evenly;
    }
    article#artiContratacao div#passosContratacao{
        width: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    article#artiContratacao div#passosContratacao p#p02{
        text-align: center;
    }  
    article#artiContratacao div#bloco01 a#ajuda{
        width: 180px;
    }  
    article#artiContratacao div#img01{
        display: none;
    }    
    article#artiContratacao div#caixa02 p#p03{
        text-align: center;
    }



    article#artiAvaliacao div#caixa03{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        padding-bottom: 40px;
    }
    article#artiAvaliacao p{
        text-align: center;
        padding: 0px;
    }
    article#artiAvaliacao div#img02{
        display: block;
    }
    article#artiAvaliacao div#img02 img{
        width: 300px;
    }




    article#artiContato div#divTitulo h2{
        font-size: 2.3em;
    }
    article#artiContato footer p{
        font-size: 1em;
    }
    footer{
        justify-content: space-around;
        flex-direction: row;
    }
    footer iframe{
        width: 30%;
    }
}





/* Desktop: até 1200px */
@media screen and (min-width: 956px) and (max-width:1200px){
  
    header div#tituloHeader{
        width: 300px;
        font-size: 1.4em;
        text-align: left;
    }
    header menu{
        max-width: 600px;
        font-size: 1.2em;
    }



    section#sectionBemVindo h1{
        font-size: 4em;
    }
    section#sectionBemVindo p{
        font-size: 1.5em;
    }
    section#sectionBemVindo a{
        font-size: 1em;
        width: 260px;
    }



    section#sectionConteudo p{
        font-size: 1.2em;
    }
    section#sectionConteudo a{
        font-size: 1.2em;      
    } 
    section#sectionConteudo li{
        font-size: 1.2em;
    }



    article#artiContratacao div#caixa01{
        display: flex;
        width: 100%;
        padding: 40px;
        justify-content: space-evenly;
    }
    article#artiContratacao div#passosContratacao{
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    article#artiContratacao div#passosContratacao p#p02{
        text-align: center;
    }  
    article#artiContratacao div#bloco01 a#ajuda{
        width: 180px;
    }  
    article#artiContratacao div#img01{
        display: block;
    }    
    article#artiContratacao div#img01 img{
        width: 400px;
    }
    article#artiContratacao div#caixa02 p#p03{
        text-align: center;
    }



    article#artiAvaliacao div#caixa03{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        padding-bottom: 40px;
    }
    article#artiAvaliacao p{
        text-align: center;
        padding: 0px;
    }
    article#artiAvaliacao div#img02{
        display: block;
    }
    article#artiAvaliacao div#img02 img{
        width: 300px;
    }




    article#artiContato div#divTitulo h2{
        font-size: 2.3em;
    }
    article#artiContato footer p{
        font-size: 1em;
    }
    footer{
        justify-content: space-around;
        flex-direction: row;
    }
    footer iframe{
        width: 30%;
    }
}





/* Grandes telas: Acima de 1200px */

@media screen and (min-width: 1200px){
  
    header div#tituloHeader{
        width: 300px;
        font-size: 1.5em;
        text-align: left;
    }
    header menu{
        max-width: 700px;
        font-size: 1.3em;
    }



    section#sectionBemVindo h1{
        font-size: 4.5em;
        max-width: 70%;
    }
    section#sectionBemVindo p{
        font-size: 1.7em;
    }
    section#sectionBemVindo a{
        font-size: 1.1em;
        width: 300px;
    }


    section#sectionConteudo h2{
        font-size: 1.8em;
    }
    section#sectionConteudo p{
        font-size: 1.3em;
    }
    section#sectionConteudo a{
        font-size: 1.3em;      
    } 
    section#sectionConteudo li{
        font-size: 1.3em;
    }


img{
    width: 500px;
}
    article#artiHistoria div#caixa01, article#artiHistoria div#caixa02{
        display: flex;
        width: 100%;
        padding: 40px;
        justify-content: space-evenly;
    }
    article#artiContratacao div#passosContratacao{
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    article#artiContratacao div#bloco01 a#ajuda{
        width: 200px;
    }  
    article#artiHistoria div#img01, article#artiHistoria div#img02{
        display: block;
    }   
    article#artiContratacao div#img01 img{
        width: 500px;
    }
    article#artiContratacao div#caixa02 p#p03{
        text-align: center;
    }

}