@charset "UTF-8";

 
/* Celular: até 768px */

header{
    background-image: linear-gradient(to right, var(--cor1), var(--cor2), #101211);
    padding: 20px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
header > div#tituloHeader{
    font-family: var(--fontTitulo);
    color: white;
    font-size: 1.4em; 
    text-align: center;
}
header > menu{
    width: 80vw;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
}
header > menu >  a{
    color: white;
    text-decoration: none;
    padding-right: 10px;    
}
header > menu >  a:hover{
    font-weight: bolder;
}





section#sectionBemVindo{    
    height: 430px;
    background-image: url(../imgs/imgHome/backgroudHome.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    align-items: left;

    color: white;
}
section#sectionBemVindo h1{
    font-size: 2.6em;
}
section#sectionBemVindo p{
    padding: 30px;
    padding-left: 0px;
    text-align: justify;
    max-width: 600px;
    font-size: 1.3em;
}
section#sectionBemVindo strong{
    color: var(--cor1);
}
section#sectionBemVindo a{
    width: 270px;
    text-align: center;
    color: white;
    text-decoration: none;
    background-color: var(--cor1);
    padding: 10px;
    margin-top: 10px;
    border-radius: 50px;
    font-size: 0.9em;
}
section#sectionBemVindo a:hover{
    font-weight: bold;
    background-color: var(--cor2);
}




section#sectionConteudo{
    background-color: rgb(217, 217, 217);
}

section#sectionConteudo p{
    font-size: 1.1em;
}
section#sectionConteudo li{
    font-size: 1.1em;
}
section#sectionConteudo a{
    font-size: 1.1em;
}




article#artiContratacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:  60px;
}
article#artiContratacao p#p01{
    max-width: 100%;
    text-align: justify;
    padding: 20px;
}
article#artiContratacao div#img01{
    display: none;
}
article#artiContratacao div#bloco01{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      justify-items: center;
}
article#artiContratacao div#passosContratacao{
    background-color: white;
    display: inline-block;
    border: 1px solid #007A31;
    border-radius: 10px;
    padding: 35px;
    width: 250px;
}
article#artiContratacao div#passosContratacao p#p02{
    width: 220px;
    padding-top: 20px;
}
article#artiContratacao div#passosContratacao p#p02 span{
    color: #01742F;
}
article#artiContratacao a#ajuda{
    color: white;
    background-color: #007A31;
    border-radius: 10px;
    text-decoration: none;
    margin: 20px;
    padding: 10px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
article#artiContratacao a#ajuda img{
    margin-right: 5px;
}
article#artiContratacao a#ajuda:hover{
    font-weight: bold;
}
article#artiContratacao p#p03{
    text-align: justify;
}





article#artiAvaliacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:  60px;
}
article#artiAvaliacao div#img02{
    display: none;
}
article#artiAvaliacao p{
    padding-top: 50px;
    padding-left: 20px;
    text-align: justify;
}
article#artiAvaliacao ul{
    list-style-image: url(../imgs/imgHome/estrela25px.png);
}





article#artiContato{
    display: flex;
    flex-direction: column;
    align-items: center;
}

article#artiContato div#divTitulo{
    padding-top: 30px;
    padding-bottom: 10px;
}
article#artiContato h2{
    font-family: "Italianno", cursive;
    color: #007A31;
    font-size: 2.2em;
}
article#artiContato div#img03{
    width: 125px;
    height: 25px;
    background-image: url(../imgs/imgHome/estrela25px.png);
    background-repeat: repeat-x;
    transform:translate(-13px, -13px);
}






footer{
    background-color: rgb(35, 35, 35);
    color: white;
    width: 100%;
    padding: 40px;

    border-radius: 60px 60px 0px 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
footer div#conteudo{
    display: flex;
    padding-bottom: 50px;
}
footer div{
    min-width: 160px;
    padding-left: 20px;
}

footer div p{
    padding-top: 10px;
}

footer div p img{
    width: 15px;
    margin-right: 10px;
}
footer iframe{
    border: 4px solid var(--cor1);
    width: 100%;
}





/* Tablet: até 992px */

/* Desktop: até 1200px */

/* Grandes telas: Acima de 1200px */

@media screen and (min-width: 1200px){
  
    header div#tituloHeader{
        width: 300px;
        font-size: 1.5em;
        text-align: left;
    }
    header menu{
        max-width: 700px;
        font-size: 1.3em;
    }



    section#sectionConteudo p{
        font-size: 1.3em;
    }
    section#sectionConteudo a{
        font-size: 1.3em;
        
    }  



    section#sectionBemVindo h1{
        font-size: 5em;
    }
    section#sectionBemVindo p{
        font-size: 1.7em;
    }
    section#sectionBemVindo a{
        font-size: 1.1em;
        width: 300px;
    }


    footer{
        justify-content: space-around;
        flex-direction: row;
    }
    footer iframe{
        width: 30%;
    }
}